/* Стили трогать не нужно! */

.page {
  width: 680px;
  min-height: 200px;
  padding: 30px 30px;
  text-align: left;
  outline: 1px solid rgba(0,0,0,0.08);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 26px;
  font-family: Roboto;
}

.page__tab{
  display: flex;
  flex-direction: row;
}

.menu{
  margin-right: 20px;
  padding: 5px 0px;
  font-weight: bold;
}

#content{
  margin-top: 20px;
}